.contact {  padding: 80px 0; }

.title-contact {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 34px;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  font-family: "Raleway";
}

.title-contact::after {
  content: '';
  width: 64px;
  height: 2px;
  background-color:#E72424;
  border: 1px solid #FFFFFF;
  margin: 35px auto 35px;
  display: block;
  }

  .contact-description { 
  font-size: 14px;
  line-height: 19px;
  color: #86878B; 
  text-align: center;
  margin-bottom: 100px;
  }
  .contact-content {display: flex;
  justify-content: space-between; 
  margin:0 -15px; 
}
.contact-left {
margin:0 15px; 
width: 40% ;}

.contact-right {
margin:0 15px; 
width: 40% ;}

.contact-button { 
  display: block;
  margin: auto;
width: 166;
height: 42px;
margin: 30px auto 0;
background-color: #EC7979; 
border: none;
font-size: 15px;
color: #FFFFFF;
padding: 11px 30px 11px;
}

textarea { resize:none;
width: 100%;
display: block;
height: 166px;
border: none;
border-bottom:  1px solid #BDBDBD; 
}

#contactemail { width: 100%;
    border:none;
  border-bottom:  1px solid #BDBDBD;}

#contactname {width: 100%; 
  border:none;
  border-bottom:  1px solid #BDBDBD; }

#contactpassword {width: 100%; 
  border:none;
  border-bottom:  1px solid #BDBDBD;
}

.contact-item { margin-bottom: 20px;}

.contact-item:last-child { margin-bottom: 0;}








