.design  { 
  background-image: url(../img/design.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  padding: 80px 0;
  position: relative;
  
}
.container { 
  position: relative;
  z-index: 2;
}

  .design::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: block;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
     }

.title-design { 
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 2.25rem;
  line-height: 42px;
  color: #FFFFFF;
  font-family: "Raleway";
  font-weight: 400;
}

  .title-design::after {
    content: '';
    width: 64px;
    height: 2px;
    background-color:#FFFFFF;
    border: 1px solid #FFFFFF;
      margin: 35px auto 35px;
    display: block;
    
  }
.text-design-description { 
  font-size: 1rem;
  text-align: center;
  color: #FFFFFF ;
  line-height: 19px;
  margin-bottom: 60px;
  font-style:"Raleway";
  font-weight: 300px;
}
.link-download {
  width: 135px;
  line-height: 20px;
  border: 1px solid #FFFFFF;
  margin: auto;
  line-height: 42px;
  transition: 0.3s;
}

.link-download a { 
  font-size: 0.9375rem;
  color: #FFFFFF;
  line-height: 42px;
  text-align: center; 
  display: block;
  
}
.link-download:hover {
  transform: scale(1.2);
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 550px;
  }
  .link-download { 
  width: 100px;
  line-height: 25px;}
}

@media (max-width: 566px) {
  html {
    font-size: 13px;
  }
.container { max-width: 320px;}

.title-design::after {
  content: '';
  width: 50px;
  height: 1px;
}
}
@media (max-width: 320px) {
 html { font-size: 12px;}
 .container { max-width: 300px;}
 .link-download { width:65%; }

}




