.design  { 
  background-image: url(../img/design.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  padding: 80px 0;
  position: relative;
  
}
.container { 
  position: relative;
  z-index: 2;
}

  .design::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: block;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    
  }

.title-design { 
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  font-family: "Raleway";
  font-weight: 400;
}

  .title-design::after {
    content: '';
    width: 64px;
    height: 2px;
    background-color:#FFFFFF;
    border: 1px solid #FFFFFF;
      margin: 35px auto 35px;
    display: block;
    
  }
.text-design-description { 
  font-size: 16px;
  text-align: center;
  color: #FFFFFF ;
  line-height: 19px;
  margin-bottom: 60px;
  font-style:"Raleway";
  font-weight: 300px;
}
.link-download {
  width: 135px;
  line-height: 20px;
  border: 1px solid #FFFFFF;
  margin: auto;
  line-height: 42px;

}
.link-download a { 
  font-size: 15px;
  color: #FFFFFF;
  line-height: 42px;
  text-align: center; 
  display: block;
  
}