.main-page {
  padding: 100px 0;
  background-image: url(../img/design.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  position: relative;
 }
 .main-page::after {
   content: '';
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.55);
   display: block;
   position: absolute;
   top: 0;
   left:0;
   z-index: 1;
    }
    .container { 
      position: relative;
      z-index: 2;
    }

 .logo-item-ax { 
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 70px;
    color:  #FFFFFF;
    }

 .logo-item-it { 
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 70px;
    color:  #EC7979;
   }
  
  .main-text-item { 
   font-size: 2.25rem;
   font-weight: 400;
   line-height: 42px;
   font-family: "Raleway";
   color: #FFFFFF;
   margin-top: 40px;
   margin-bottom: 50px}

   .main-text-item::after {
      content: '';
      width: 64px;
      height: 2px;
      background-color:#FFFFFF;
      border: 1px solid #FFFFFF;
      margin-top: 42px;    
      display: block;} 

   .main-text-descpirtion-item { 
      font-size: 0.9375rem;
      color: #FFFFFF;
      line-height: 30px;
      margin-bottom: 39px;
   } 
   .main-link-download {
      width: 135px;
      line-height: 20px;
      border: 1px solid #FFFFFF;
      line-height: 42px;
      margin-bottom: 100px;   
   }

   .main-link-download a { 
      font-size: 0.9375rem;
      color: #FFFFFF;
      line-height: 42px;
      text-align: center; 
      display: block;
   }

.main-wrap { 
  display: flex;
 justify-content: space-between;}

 .input-box { 
   width: 375px;
   background-color: #FFFFFF;
   border-radius: 8px;
   overflow: hidden;
}

   #username {display: block;
   width: 100%;
   border:none;
   border-bottom:  1px solid #BDBDBD;}
   

   #email {display: block;
   width: 100%;
   border:none;
   border-bottom:  1px solid #BDBDBD;} 
 
   #password {display: block;
   width: 100%; 
   border:none;
   border-bottom:  1px solid #BDBDBD;}

   label { display: block;
   margin-bottom: 10px;
   font-size: 0.875rem;
   color:  #BDBDBD;}
 
.form-item {margin-bottom: 20px;}

.form-item:last-child { margin-bottom: 0;}

.form-title { 
   font-size: 1.25rem;
   line-height: 27px;
   text-align: center;
   color: #333333; 
   margin-bottom: 50px;} 

   .text-free {
      color:#EC7979;
      font-size: 1.25rem;
      line-height: 27px; } 

      .form-content  { 
      padding: 20px 60px 70px;}

.button-box { 
   display: block;
   width: 100%;
   height: 50px;
   border: 0;
   background-color: #EC7979;
   color: #FFFFFF;
   font-size: 0.9375rem; 
   }

   @media (max-width: 1200px) {
      html {
        font-size: 14px;}
      .container {
        max-width: 970px;
      }
 @media (max-width: 992px) {
         html {font-size: 12px; }

         .container {
            max-width: 750px;
          }

.input-box { width: 300px;}
         }

@media (max-width: 767px) { 
html { font-size: 11px;}
.container {
   max-width: 570px;
 }
.input-box { margin-left: 10px;}
}
@media (max-width: 566px) { 
   html { font-size: 11px;}
   .container {width: 100%;}

  .main-wrap { 
flex-direction: column;
align-items: center;}
 
.input-box {width: 100%;}
.main-text { display: block;
   justify-content:center;
} 
}

@media (max-width: 320px) { 
 html { font-size: 11px;}

.container {max-width:300px;}

.main-wrap { 
   flex-direction: column;
   }

.input-box {width:90%;}
 .main-text { text-align: center;
   
}

.main-text-item::after { 
   margin: auto;
   margin-top: 10px;
}

.main-link-download { margin: auto;
margin-bottom: 20px;}
}











     








   






