.main-page {
  padding: 100px 0;
  background-image: url(../img/design.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  position: relative;
 }
 .main-page::after {
   content: '';
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.55);
   display: block;
   position: absolute;
   top: 0;
   left:0;
   z-index: 1;
    }
    .container { 
      position: relative;
      z-index: 2;
    }

 .logo-item-ax { 
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    color:  #FFFFFF;
    }

 .logo-item-it { 
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    color:  #EC7979;
   }
  
  .main-text-item { 
   font-size: 36px;
   font-weight: 400;
   line-height: 42px;
   font-family: "Raleway";
   color: #FFFFFF;
   margin-top: 40px;
   margin-bottom: 50px}

   .main-text-item::after {
      content: '';
      width: 64px;
      height: 2px;
      background-color:#FFFFFF;
      border: 1px solid #FFFFFF;
      margin-top: 42px;    
      display: block;} 

   .main-text-descpirtion-item { 
      font-size: 15px;
      color: #FFFFFF;
      line-height: 30px;
      margin-bottom: 39px;
   } 
   .main-link-download {
      width: 135px;
      line-height: 20px;
      border: 1px solid #FFFFFF;
      line-height: 42px;
      margin-bottom: 100px;   
   }

   .main-link-download a { 
      font-size: 15px;
      color: #FFFFFF;
      line-height: 42px;
      text-align: center; 
      display: block;
   }

.input-box {
width: 375px;
background-color: #FFFFFF;
padding: 10px 0;
border-radius: 8px;

}

.main-wrap { 
   display: flex;
   justify-content: space-between;
}

.text-free {
color:#EC7979;
font-size: 20px;
line-height: 27px; }

.form-title { 
   font-size: 20px;
   line-height: 27px;
   text-align: center;
   color: #333333; 
   margin-bottom: 50px;
}
.form-content {
   padding-top: 10px;
   padding-bottom: 60px;
   padding-left: 60px;
   padding-right: 60px;
}

.form-item { margin-bottom: 30px;}


.input-field { 
border:none;
border-bottom:  1px solid #BDBDBD;
width: 100%;
display: block;
}

.formbox {
font-size: 14px;
color:  #BDBDBD;}

.button-box { 
background-color: #EC7979;
width: 100%;
padding: 15px 0;
border-radius: 0px 0px 8px 8px;
margin-top: 60px;
border: none;
cursor: pointer;
}


.button-text  {
   font-size: 15px; 
   color: #FFFFFF;
   line-height: 20px;
}







     








   






